* {
    margin: 10px;
    padding: 10px; 
}

.general {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: black;
    display: flex;
    flex-flow: column nowrap;
}   

.menu-nav {
    background: #2d4059;
    display: flex;  
}

.nav-lateral {
    flex: 1;
    background: #ea5455;
}

.nav-central {
    flex: 4;
    background: #ea5455;
}

.cap-pagina {
    background-color: #f07b3f;
}   

.titol {
    background-color: #ffd460;
}

.main {
    background: black;
    display: flex;
}

.section-esq {
    background: #4e4e6a;
    display: flex;
    flex: 2;
    flex-flow: row wrap;
}   


.article-blue {
    background: #1f6cb0;
    flex: 1 1 40%;
}

.article-lightblue {
    background: #70a3c4;
    flex: 1 1 100%;
}

.asidered {
    background: #f73f52;
    flex: 1;
}

.asides{
    background: #ffea85;
}

.footer {
    background: black;
}

.peudepagina {
    background: #ebbe58;
}

@media (max-width: 1024px) {
    .main {
        background: #f8e42f;
        flex-flow: column nowrap;    
    }
    
}

@media (max-width: 480px) {
    .menu-nav {
        background: #2d4059;
        flex-flow: column nowrap ;  
    }

    .section-esq {
        background: rgb(27, 100, 122);
    }

    .article-blue {
        background: rgb(101, 154, 184);
    }

    .article-lightblue {
        background: rgb(171, 231, 171);
    }

    .asidered {
        background-color: rgb(245, 116, 57);
        flex: 1;
    }

    .asides{
        background: rgb(231, 174, 100);
    }   
}